#outer-terminal {
  min-height: 1.9em;
  max-height: 6em;
  color: white;
  background-color: black;
  overflow-y: hidden;
}

.termMaxed {
  height: 6em;
}
.termMined {
  height: 1.9em;
}

#inner-terminal {
  height: 100% !important;
  /* width: 100% !important; */

  overflow-y: scroll;
}

#termMinMax {
  float: right;
  border-top-right-radius: 0rem;
}
