#controls {
  /* float: right; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
}
#control-viewer {
  flex-basis: 85vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.control {
  padding-bottom: 30px;
}

#script-form {
  padding: 5px;
}

#viewer-form {
  padding: 5px;
}
