#controls {
  /* float: right; */
  flex-basis: 50%;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  justify-content: space-between;
  align-items: center;
}
#control-viewer {
  flex-basis: 85vh;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.control {
  padding-bottom: 30px;
}

#script-form {
  padding: 5px;
}

#viewer-form {
  padding: 5px;
}

#header {
}

#slider {
  width: 100px;
}
